@import '../../../styles/variables';

.container {
	padding: 80px 0 100px;
	text-align: center;

	.inner {
		padding-top: 40px;
	}

	@media screen and (min-width: $desktop) {
		padding: 80px 0 120px;
	}
}