.button {
  font-family: "Brandon Grotesque";
  background: transparent;
  line-height: 42px;
  width: 230px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.button svg {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .button {
    line-height: 55px;
  }

  .button span,
  .button svg {
    transition: all 0.2s ease-out;
    transform: translateX(24px);
  }

  .button:hover span,
  .button:hover svg {
    transform: translateX(0);
  }

  .button svg {
    display: block;
    margin-left: 8px;
    width: 40px;
    visibility: hidden;
    height: 100%;
    opacity: 0;
  }

  .button:hover svg {
    visibility: visible;
    opacity: 1;
  }

  .button:hover {
    border: 5px solid transparent !important;
  }
}
