.pagination {
  display: flex;
  text-align: center;
  justify-content: space-between;

  .btnsWrap {
    display:flex; 
    position: relative;
    ul {
      list-style: none;
      margin: 0 auto;
      padding:0;
      display: flex;
      white-space: nowrap;
      overflow: hidden;   
      width: 100%;
      justify-content: center;    
    }
    span {
      color: #d43f34;
    }
    button {
      list-style: none;
      font-size: 15px;
      font-weight: bold;
      background: none;
      border: none;
      color: #D43F34;
      padding: 22px;
      &.active {
        color: black;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .ellipses {
      color: black;
      padding: 22px 0;
      &:hover {
        cursor: default
      }
    }
  }

  // Previous/next buttons
  .pageBtn {
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: #fff;
    padding: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

