.singleBlog {
  padding-top: 16px; 

  .blogHero {
    background:#EFEFEF;

    img {
      min-width:100%;
      object-fit: fill;
      display:flex;
    }
  }
  .intro {
    margin: 40px 0 8px;

    .tags {
      font-size:16px;
      color: #D43F34;
    }
  }

  .blogContent {

    h1, h2, h3, h4, h5 {
      padding: 32px 0 16px
    }
    p {
      padding-bottom: 28px;
    }
    img, video, svg {
      padding: 16px 0;
    }
  }

  .next {
    margin: 80px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-size: 24px;
    }
    a {
      margin: -24px auto 24px;
    }
    .nextLink {
      margin-top: 24px;
      .nextImage {
        height: 146px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}