@import url("//hello.myfonts.net/count/3aea74");

@font-face {
  font-family: "BrandonGrotesqueWeb-Light";
  src: url("../../assets/webfonts/3AEA74_0_0.eot");
  src: url("../../assets/webfonts/3AEA74_0_0.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/webfonts/3AEA74_0_0.woff2") format("woff2"),
    url("../../assets/webfonts/3AEA74_0_0.woff") format("woff"),
    url("../../assets/webfonts/3AEA74_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "BrandonGrotesqueWeb-Bold";
  src: url("../../assets/webfonts/3AEA74_1_0.eot");
  src: url("../../assets/webfonts/3AEA74_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/webfonts/3AEA74_1_0.woff2") format("woff2"),
    url("../../assets/webfonts/3AEA74_1_0.woff") format("woff"),
    url("../../assets/webfonts/3AEA74_1_0.ttf") format("truetype");
}

@font-face {
  font-family: "BrandonGrotesqueWeb-Black";
  src: url("../../assets/webfonts/3AEA74_2_0.eot");
  src: url("../../assets/webfonts/3AEA74_2_0.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/webfonts/3AEA74_2_0.woff2") format("woff2"),
    url("../../assets/webfonts/3AEA74_2_0.woff") format("woff"),
    url("../../assets/webfonts/3AEA74_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("../../assets/webfonts/3AEA74_3_0.eot");
  src: url("../../assets/webfonts/3AEA74_3_0.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/webfonts/3AEA74_3_0.woff2") format("woff2"),
    url("../../assets/webfonts/3AEA74_3_0.woff") format("woff"),
    url("../../assets/webfonts/3AEA74_3_0.ttf") format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Brandon Grotesque";
  width: 100%;
  overflow-x: hidden;
}

main {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
}

@media only screen and (min-width: 1024px) {
  main {
    margin-top: 0;
  }

  // Two columns on a large screen but normal on mobile
  .two-columns-large {
    display: flex;
    > div {
      flex: 1;
    }
  }
}

.story-section {
  text-align: center;
  padding: 60px 5px;
  min-height: 80vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h2 {
    margin: 30px auto;
    max-width: 311px;
    font-size: 36px;
    color: #fff;
    font-weight: lighter;
    strong {
      font-weight: bold;
      &.underlined {
        // text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .story-section {
    padding: 0px 150px;

    &:first-child {
      margin-top: 0;
    }
    h2 {
      font-weight: bold;
      font-size: 65px;
      text-align: left;
      color: #fff;
      max-width: 100%;
      strong {
        font-weight: bold;
      }
    }
  }
}
