/* Overflow image to not show borders and move left 1 viewport width */
.skyline-section {
  .image-container {
    overflow: hidden;

    /* make image span full width */
    img {
      min-width: 910px;
      width: 102vw;
      margin-left: -8px;
    }
  }

  /* Give inner of component a white background */
  .skyline-section-inner {
    background: white;
    margin-top: -40px;
  }
}
