.index {
  .story {
    // Making peak interest white to show on background
    .peak-interest {
      h4 {
        color: white;
      }
      .line {
        background: white;
      }
    }
  }

  //   Centering buttons
  .button {
    margin: 0 auto;
  }
}

.skyline-section {
  .story-section {
    h2 {
      font-weight: 300;
      font-size: 30px;
      color: #46444c;
      margin-bottom: 40px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .index {
    .story {
      .balloon-container {
        position: absolute;
        top: 78%;
        right: 0;
        width: 780px;
      }
    }
    .button {
      margin: 0;
    }
  }

  .skyline-section {
    .story-section {
      h2 {
        font-weight: 300;
        font-size: 56px;
        line-height: 70px;
        text-align: center;
        color: #46444c;
        margin-bottom: 100px;
      }
    }
  }
}
