.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 100px 0 80px;

	h2 {
		padding-bottom: 24px;
		font-size: 24px;
	}

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .nextImage {
      margin-bottom: -12px;
      height: 146px;
      width: 100%;
      object-fit: cover;
    }
  }

	@media screen and (min-width: 960px) {
    padding: 120px 0;
    
    .inner {
      max-width: 460px;
      display: flex;
      text-align: left;
      flex-direction: row;
      align-items: flex-start;
      position: relative;

      .nextImage {
        width: 83.33%;
        height: auto;
      }
      a {
        position: absolute;
        right: 0;
        bottom: 24px;
      }
    }
	}
}
