// need to import all fonts at some point.
@font-face {
  font-family: "Jubilat";
  src: url("../assets/webfonts/3AEA74_1_0.woff");
  font-display:swap;
}
@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
	// font-family: Jubilat;
  font-family: brandon-grotesque, sans-serif !important;
	font-weight: 300;
	font-size: 20px;
	color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.p-small {
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
img, video {
  max-width: 100%;
}

h1 {
  font-size: 30px;
  font-family: Jubilat;
}
h2, h3, h4, h5 {
  font-size: 20px;
  font-family: Jubilat;
}
button, a {
  font-family: Jubilat;
  color: $primary;
  transition: all 0.4s ease;
}

a:hover {
  color: black !important;
}

.button-text__primary {
  font-weight: bold;
  font-size: 12px;
}

.button-text__secondary {
  font-weight: bold;
  font-size: 15px;
  color: #d43f34;
  text-transform: uppercase;
  text-decoration: underline;
}

section.hero {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
  html, body {
    font-size: 24px;
  }
  .p-small {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}















// 404 page
.notFoundWrap {
  padding: 114px 0 113px;

  .notFoundInner {
    text-align: center;
    padding-top: 80px;

    p {
      padding: 16px 0 24px;
    }
    a {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    img, div {
      width: 50%;
    }
  }
}



