.balloon-container {
  position: relative;
  height: 320px;
  overflow-y: visible;
  overflow-x: hidden;
  // padding: 20% 0;
  max-width: 780px;

  width: 104%;
  margin-left: -2%;

  .balloon-wrapper {
    position: absolute;
    right: 20%;
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
    z-index: 1;
    .balloon {
    }
    .platform {
      width: 180px;
      margin-right: -16px;
      margin-top: -8px;
      transform-origin: top center;
    }

    @keyframes swing {
      from {
        transform: rotate(-7deg);
      }
      to {
        transform: rotate(7deg);
      }
    }
  }
  @media only screen and (min-width: 780px) {
    height: 620px;
    margin-left: auto;
    .balloon-wrapper {
      .balloon {
        width: 220px;
      }
      .platform {
        margin-right: -30px;
        margin-top: -14px;
        width: 330px;
      }
    }
  }
}
