.balloon-container {
  position: relative;
  height: 340px;
  overflow: hidden;
  .balloon-wrapper {
    position: absolute;
    right: 60px;
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
    z-index: 1;
    .balloon {
    }
    .platform {
      width: 180px;
      margin-right: -16px;
      margin-top: -8px;
      transform-origin: top center;
    }

    @keyframes swing {
      from {
        transform: rotate(-7deg);
      }
      to {
        transform: rotate(7deg);
      }
    }
  }

  .cloud-wrapper {
    width: 100vw;
    overflow-x: hidden;
    & * {
      position: absolute;
      //   left: -200%;
      right: 100%;
      //   right: 100%;
      //   animation: cloud 10s infinite linear;
    }
    .cloud1 {
      animation-delay: 1s;
    }
    .cloud2 {
      animation-delay: 3s;
      z-index: 2;
    }
    .cloud3 {
      animation-delay: 7s;
    }

    @keyframes cloud {
      from {
        right: 100%;
        transform: scale(1);
      }
      to {
        right: -200%;
        transform: scale(0.7);
      }
    }
  }
}
