.plane-container {
  height: 340px;
  width: 100%;
  margin: 65px 0;
  overflow-x: visible;
  position: relative;
  display: flex;
  align-items: center;
  .plane-wrapper {
    position: absolute;
    text-align: right;
    padding: 0 10%;
    z-index: 2;

    .banner {
      width: 60%;
      position: absolute;
      right: 40%;
      transform-origin: right center;
    }

    .plane {
      width: 40%;
      position: relative;
      z-index: 1;
      transform-origin: left center;
    }

    @keyframes flight {
      from {
        transform: translateY(10px);
      }
      to {
        transform: translateY(-10px);
      }
    }

    @keyframes plane-flow {
      from {
        transform: rotate(6deg);
      }
      to {
        transform: rotate(-2deg);
      }
    }

    @keyframes banner-flow {
      from {
        transform: rotate(3deg);
      }
      to {
        transform: rotate(-3deg);
      }
    }
  }
}
