/*********************************************************************

going to redoo this scss file while doing the animation on the team page.

*********************************************************************/

@import '../../../styles/variables';

.team {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0 0;

	.member {
		width: 50%;
		margin-bottom: 40px;
		position: relative;
		display:grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(4, 1fr);

		img {
			grid-area: 1 / 1 / 4 / 6;
			min-height: 144px;
			max-height: 144px;
			max-width: 144px;
			min-width: 144px;
			border-radius: 50%;
			background: #ccc;
		}

		button {
			margin:8px 0 0 8px;
			grid-area: 3 / 4 / 4 / 6;
			width: 44px;
			height: 44px;
			background: none;
			border: solid 3px #D43F34;
			border-radius: 50%;
			font-size: 24px;
			font-weight: bold;
			&:hover {
				cursor: pointer;
			}
		}

		.nameRole {
			grid-area: 4 / 1 / 6 / 7;
			margin-top: -8px;

			p:first-of-type{
				font-weight: bold;
			}
		}
	}

	@media screen and (min-width: $desktop) {
		padding: 80px 0 0;
	}

}



// activated classes
.activated {
	display:none!important;
}




// Member popup
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:rgba(255, 255, 255, 0.90);
	display: flex;
	flex-direction: column;
	text-align: center;
	z-index: 4;
	animation: popupIn 0.8s;

	.popupInner {
		max-width: 280px;
		margin: 240px auto;

		img {
			margin: 24px auto;
			// min-height: 144px;
			height: 144px;
			width: 144px;
			// min-width: 144px;
			border-radius: 50%;
			background: #ccc;
		}

		button {
			margin-top:8px;
			grid-area: 3 / 4 / 4 / 6;
			width: 44px;
			height: 44px;
			background: none;
			border: solid 3px #D43F34;
			border-radius: 50%;
			font-size: 24px;
			font-weight: bold;
			position: absolute;
			bottom: 24px;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);			

			&:hover {
				cursor: pointer;
			}
		}
	}
}




@keyframes popupIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
