.team {
	display:flex;
	flex-wrap: wrap;
	padding: 30px 0 80px;

	.member {
		width: 50%;
		margin-bottom: 40px
	}
}



// old styling
.container {
	width:50%;
	.imgWrapper {
		border: 2px solid black;
		border-radius: 10px;
		overflow: hidden;
		transition: all 0.4s;
		img {
			object-position: center;
			object-fit: cover;
			width: 100%;
			margin-bottom: -8px;
		}
	}

	.name {
		font-weight: bold;
		font-size: 20px;
		margin: 10px 0 0;
		transition: all 0.4s;
	}

	.role {
		font-weight: 300;
		font-size: 20px;
		color: #46444c;
		margin: 0;
		transition: all 0.4s;
	}
}

// new
// Member popup description
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:rgba(255, 255, 255, 0.90);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}