@import '../styles/variables';

.dynamicContent {
  position: relative;
  padding-top: 30px;


}  

@media screen and (min-width: $desktop) {
  .pageWrap {
    max-width: 800px;
    margin: auto;
  }  
  .dynamicContent { 
    padding-top: 80px;
  }
}